# ========== Flask ==========
HOST=0.0.0.0
PORT=51051
DEBUG=false
API_KEY=testasd1

# ========== G2 / 浏览器 ==========
TARGET_URL=https://www.g2.com/products/slack/reviews
FIREFOX_PATH=C:\Users\EDY\AppData\Local\ruyipage\browsers\firefox-151.0a1-151-ruyi-win64\firefox\firefox.exe
PROFILES_DIR=./profiles
HEADLESS=true
PROXY_URL=
COOKIE_TIMEOUT=120
BROWSER_POOL_SIZE=5
BATCH_BASE_PORT=9222

# ========== Redis（与 g2 下游共用）==========
RDS_HOST=192.46.224.81
RDS_PORT=60379
RDS_PASSWORD=your_password
REDIS_KEY=datadome:g2:ck
REDIS_TTL=3600
